body.home.index {
  .well {
    padding: 6px;
    border-radius: 6px;
    h2 {
      font-weight: normal;
      font-size: 18px;
      line-height: 60px;
      color: white;
      margin: 0;
      text-align: center;
      border-radius: 4px;
    }
    h3 {
      font-family: $font-family-serif;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
    }
    &> p {
      font-family: $font-family-serif;
      font-style: italic;
      text-align: center;
      margin: 0 8px;
    }
    &> hr {
      margin: 0 8px;
    }
    .tab-content {
      margin: 0 8px;
      .controls {
        margin: 4px 0;
        text-align: center;
        font-size: 12px;
      }
      .reps {
        position: relative;
        max-width: 268px;
        height: 171px;
        margin: 0 auto;
      }
      .portrait {
        position: absolute;
        top: 0;
        right: 0;
        &:first-child {
          left: 0;
        }
      }
    }
  }
  #votes {
    h2 {
      background: $green image-url('green-header.gif') no-repeat;
    }
    h3 {
      color: $green;
    }
  }
  #reps {
    h2 {
      background: $purple image-url('purple-header.gif') no-repeat;
    }
    h3 {
      color: $purple;
    }
    hr {
      border-top-color: #d6d6e4;
      border-bottom-color: $purple;
    }
    .spinner {
      background-image: image-url('spinner-purple.gif');
    }
    .tabs .tab > span {
      border-color: $purple;
    }
    .tabs .tab.selected {
      background-image: image-url('down-purple.gif');
    }
    .tabs .tab.selected > span, .tabs .tab.hover > span {
      background-color: $purple;
    }
    .speeches {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    form {
      margin: 10px;
    }
    .btn-primary {
      border-color: $purple;
      background-color: $purple;
    }
  }
  #compare {
    h2 {
      background: $brown image-url('brown-header.gif') no-repeat;
    }
    h3 {
      color: $brown;
    }
    hr {
      border-top-color: #ede5e1;
      border-bottom-color: $brown;
      margin: 0;
    }
    #compare-content {
      margin: 0 8px;
    }
    .spinner {
      background-image: image-url('spinner-brown.gif');      
    }
    .stats {
      margin-top: 20px;
      text-align: center;
      color: $brown;
      dl {
        dt, dd {
          display: inline-block;
          width: 49%;
        }
        dt {
          text-align: right;
        }
        dd {
          text-align: left;
          font-family: $font-family-serif;
          font-style: italic;
          color: #999;
          a {
            font-style: bold;
          }
          span {
            font-family: $font-family-sans-serif;
            font-style: normal;
          }
        }
      }
    }
    .tabs #compare-results {
      padding-left: 0;
      padding-right: 0;
      span {
        display: inline-block;
        width: 100%;
        border-color: $brown;
      }
    }
    .tabs .tab.selected {
      background-image: image-url('down-brown.gif');
    }
    .tabs .tab.selected > span, .tabs .tab.hover > span {
      background-color: $brown;
    }
    form {
      margin: 10px 0;
      span.twitter-typeahead {
        width: 100%;
      }
    }
  }
}
