.navbar {
  height: 85px;
  background: white;
  @include box-shadow(0 1px 10px rgba(0,0,0,0.1));
}

a.navbar-brand {
  background: transparent image-url('logo.gif') no-repeat center center;
  width: 277px;
  height: 64px;
  margin-top: 10px;
  span {
    position: relative;
    left: -100000px;
  }
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
@media (max-width: $screen-xs-max) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
  }
}

body {
  background: #f0f0f0;
  padding-top: 84px;
  color: #999;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

a {
  color:#366480;  
}

h4 {
  color: $green;
}

h5 {
  text-transform: uppercase;
  color: $green;
}

hr {
  border-top: 1px solid #e4f1f1;
  border-bottom: 1px solid #a6c9c3;
  margin: 0;
}

.breadcrumb {
  background-color: transparent;
}

.tt-dropdown-menu {
  border: 1px solid $gray;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  .tt-suggestion {
    border-top: 1px solid $gray;
    padding: 10px;
    p {
      margin: 0;
    }
    &:first-child {
      border: 0;
    }
    &.tt-cursor {
      cursor: pointer;
      background-color: $gray;
    }
  }
}

.form-control {
  color: #666;
}

.container-bg {
	background: white;
  padding-top: 20px;
	@include box-shadow(0 0 3px #e1e1e3);
	border-bottom: 1px solid white;
}

.well {
  background: white;
	@include box-shadow(0 0 3px #e1e1e3);
}

.spinner {
  background:transparent image-url('spinner-green.gif') no-repeat scroll center center;
  width:inherit;
  height:200px;
}

.tabs {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: $font-family-serif;
  overflow: visible;
}

.tabs .tab {
  padding:0 12px 9px;
}

.tabs .tab > span {
  border: 1px solid $green;
  padding: 0 12px;
  line-height: 16px;
  font-style: italic;
  cursor: pointer;
}

.tabs .tab.selected {
  background: transparent image-url('down-green.gif') no-repeat bottom center;
}

.tabs .tab.selected > span {
  cursor: default;
}

.tabs .tab.selected > span, .tabs .tab.hover > span {
  background-color: $green;
  color: white;
}

.tabs .separator {
  border-left: 1px solid #b7b7b7;
  padding-right: 3px;
}

.col-xs-12 {
  .tabs {
    text-align: left;
  }
}

.tab-content {
  overflow: visible;
}

.party.D {
  background: transparent image-url('icon-donkey.png') no-repeat;
  width: 22px;
  height: 20px;
}

.party.R {
  background: transparent image-url('icon-elephant.png') no-repeat;
  width: 21px;
  height: 19px;
}

.party.I {
  background: transparent image-url('icon-independent.png') no-repeat;
  width: 20px;
  height: 20px;
}

.party.yourreps {
  background:transparent url('icon-yourreps.gif') no-repeat;
  width:27px;
  height:26px;
}

.downarrow {
  background: transparent image-url('down-gray.gif') no-repeat;
  width: 11px;
  height: 7px;
}

.bubble {
  border-radius: 4px;
	@include box-shadow(0 0 3px #e1e1e3);
  font-size: 12px;
  line-height: 18px;
  padding: 12px;
  background-color: $gray;
}

.portrait {
  position:relative;  
  .frame {
    position:relative;  
    border-radius: 4px;
  	@include box-shadow(0 0 3px #e1e1e3);
    width:124px;
    height:171px;
    background-color: white;
    img {
      position: absolute;
      width: 100px;
      height: 125px;
      top: 12px;
      left: 12px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .name {
      position: absolute;
      left: 12px;
      bottom: 6px;
      font-size: 11px;
      text-transform: uppercase;
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .party {
      position: absolute;
      right: 12px;
      bottom: 7px;
    }
  }
  .downarrow {
    position: absolute;
    left: 57px;
    bottom: -8px;
    display: none;
  }  
  &.selected {
    .frame {
      background-color: $gray;
    }
    .downarrow {
      display: block;
    }
  }
}

.vote-summary {
  .result {
    background-color: $green;
    text-align: center;
    color: white;
    margin: 10px 0;
    font-weight: bold;

    .count {
      font-weight: normal;
    }
    .of {
      font-style: italic;
      font-family: $font-family-serif;
    }
  }
  .grid {
    margin-bottom: 20px;
    table {
      td {
        vertical-align:top;
        .count {
          text-align:center;
          background-color:#f7f7f7;
          width:94px;
          font-size: 13px;
          span {
            font-size: 10px;
            text-transform: uppercase;
          }
        }
        .spacer {
          width:12px;
          height:12px;
        }
        &.party {
          background-color:#f7f7f7;
          width:27px;
          div.party {
            background-position:center center;
            width:27px;
            height:27px;
          }
        }
        &.votes {
          cursor: crosshair;
          & > div {
            width:96px;
            a.vote {
              cursor: crosshair;
            }
          }
          .name {
            float:left;
            width:84px;
            height:10px;
            font-size:11px;
            line-height:10px;
            margin: 1px 0 0 12px;
            white-space:nowrap;
            overflow:visible;
            text-transform: uppercase;
            span {
              font-family: $font-family-serif;
              font-style: italic;
            }
          }
        }
      }
    }
    
    hr {
      border-top-color:#f7f7f7;
      border-bottom-color:#eaeaea;
      margin:8px 0;
    }

    .senate.vote {
      width:10px;
      height:10px;
    }

    .house.vote {
      width:4px;
      height:4px;
    }  

    .yourreps .vote {
      margin:6px 2px 0 0;
    }
    
    .vote {
      float:left;
      margin:2px 2px 0 0;
    }

    .vote span {
      display:none;
    }

    .vote.first_row {
      margin-top:0;
    }

    .vote.last_col {
      margin-right:0;
    }

    .D.vote {
      background-color:#d5dee6;
    }

    .R.vote {
      background-color:#d08478;
    }

    .I.vote {
      background-color:#ccc;
    }

    .D.vote.hover {
      background-color:#0f528c;
    }

    .R.vote.hover {
      background-color:#8c2323;
    }

    .I.vote.hover {
      background-color:#777;
    }
  }
  .date {
    text-transform: uppercase;
  }
  .question {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .title {
    font-size: 18px;
    line-height: 22px;
    font-family:'Lucida Sans Demibold Roman',$font-family-serif;
    margin-bottom: 10px;
  }
}
