.navbar-inner {
  background: white;
}

a.brand {
  background: transparent image-url('logo.gif') no-repeat center center;
  width: 277px;
  height: 64px;
  span {
    position: relative;
    left: -100000px;
  }
}

body {
  background: #f0f0f0;
  padding-top: 84px;
  color: #999;
}

footer {
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}

a {
  color:#366480;  
}

.content-bg {
	background: white;
	width: 1020px;
	margin: 0 auto;
	padding: 20px 0;
	@include box-shadow(0 0 3px #e1e1e3);
	border-bottom: 1px solid white;
}

.well {
  background: white;
	@include box-shadow(0 0 3px #e1e1e3);
}

.spinner {
  background:transparent image-url('spinner-green.gif') no-repeat scroll center center;
  width:inherit;
  height:200px;
}

.tabs {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: $serifFontFamily;
  overflow: visible;
}

.tabs .tab {
  padding:0 12px 9px;
}

.tabs .tab > span {
  border: 1px solid $green;
  padding: 0 12px;
  line-height: 16px;
  font-style: italic;
  cursor: pointer;
}

.tabs .tab.selected {
  background: transparent image-url('down-green.gif') no-repeat bottom center;
}

.tabs .tab.selected > span {
  cursor: default;
}

.tabs .tab.selected > span, .tabs .tab.hover > span {
  background-color: $green;
  color: white;
}

.tabs .separator {
  border-left: 1px solid #b7b7b7;
  padding-right: 3px;
}
